
a:link, a:visited {
  background-color: #0f9d8c;
  color: white;
  padding: 25px 25px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 70%;
}

a:hover, a:active {
  background-color: #00cccc;
}

div{
    padding: 1px;

}

.content {
  max-width: 500px;
  margin: auto;
}